.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#outerDiv {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
#innerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    width: 50%;
}
#SubButton {
    margin-left: 30%;
    border-radius: 5px;
}
#InLabel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20%;
}
#FirstInput{
    border-radius: 10px;
}